mat-toolbar {
    justify-content: center;
    flex-direction: column;
    position: relative;
    bottom: 0;
    background-color: #1E2022;
    height: max-content;
}

mat-icon {
    vertical-align: middle;
    color: red;
}

.footer span {
    font-size: 1rem;
    color: white;
    text-align: center;
}

.heart {
    color: red;
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: #D07017;
    opacity: 0.7;
}

a:hover {
    opacity: 1;
}

@media (max-width: 760px) {

    .footer span {
        font-size: 0.6rem;
    }

}