mat-toolbar {
    justify-content: center;
    flex-direction: column;
    position: relative;
    bottom: 0;
    background-color: #1E2022;
}

mat-icon {
    vertical-align: middle;
    color: red;
}

.footer a {
    font-size: 1rem;
    color: white;
}

.heart {
    color: red;
    vertical-align: middle;
}