.header {
  background-color: #302E53;
  height: 40%;
  top: 0;
  position: relative;
  justify-content: center;
}

mat-toolbar-row {
  top: 0;
  background-color: transparent;
  z-index: 3;
}

.header-content {
  background: transparent;
  position: absolute;
  align-self: center;
  margin-bottom: 30px;
}

.rocket {
  transform: scale(4);
  color: #D07017;
}

a {
  vertical-align: middle;
  text-align: center;
  margin-top: 50px;
  font-size: 2rem;
  color: #D07017;
}

.search-button {
  background: #302E53;
}

.search {
  transform: scale(0.8);
  color: white;
}

.search-input {
  height: 100% !important;
}

mat-label {
  font-size: 1rem;
}

mat-divider {
  background-color: #D07017;
}

a {
  text-decoration: none;
  color: #D07017;
}

@media (max-width: 760px) {

  .header {
    height: 60%;
  }

  .header-content {
    transform: scale(0.7);
    margin-bottom: 0;
  }



}