mat-toolbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70%;
  background-image: url('../../../assets/satelite-header.jpeg');
  position: absolute;
  top: 0;
}

mat-icon {
  transform: scale(4);
  color: #302E53;
}

span {
  vertical-align: middle;
  text-align: center;
  margin-top: 50px;
  font-size: 2rem;
  color: #1E2022;
}
