.body {
  background-color: #1E2022;
}

mat-card {
  display: flex;
  margin-top: 15px;
  background-color: #302E53;
  width: 70%;
  height: 200px;
  max-height: 200px;
  margin-bottom: 30px;
}

mat-card img{
  margin: 5px;
  object-fit: cover; /*this makes the image in src fit to the size specified below*/
  width: 35%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
  height: 100%;
}

mat-card-title {
  font-size: 1rem;
  color: #D07017;
}

mat-card-content {
  color: #D07017;
  height: 100%;
  overflow-y: hidden;
}

.text {
  margin-left: 30px;
  background-color: #302E53;
}

.minorInfo {
  margin-bottom: 15px;
}

.newsSite {
  color: white;
  background-color: #D07017;
}

a {
  text-decoration: none;
  color:white
}

.seeMore {
  color: white;
  background-color: #D07017;
}

.loadMore {
  color: white;
  border-color: #D07017;
  background-color: transparent;
  margin-bottom: 30px;
}